.titulo{
    text-align: center;
    color: rgb(15, 238, 238); 
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imag{
    text-align: center;
}